<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.starhq.template.mapper.SysAuditLogMapper">

    <select id="selectAuditLogPage" resultType="com.github.starhq.template.model.vo.AuditLogPageVO">
        SELECT sal.id,
               sal.action,
               sal.target_id,
               sal.target_type,
               sal.value,
               sal.created_at,
               creator.username AS creator
        FROM sys_audit_log sal
                 LEFT JOIN sys_user creator
                           ON sal.created_by = creator.id
            ${ew.customSqlSegment}
    </select>
</mapper>