<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.starhq.template.mapper.SysButtonMapper">

    <select id="selectButtonPage" resultType="com.github.starhq.template.vo.ButtonVO">
        SELECT 
            b.id,
            b.menu_id,
            b.code,
            b.name,
            b.description,
            b.created_at,
            creator.username AS creator,
            b.updated_at,
            COALESCE(updater.username, 'Unknown') AS updater
        FROM sys_button b
        LEFT JOIN sys_user creator ON b.created_by = creator.id
        LEFT JOIN sys_user updater ON b.updated_by = updater.id
        <where>
            <if test="menuId != null and menuId > 0">
                AND b.menu_id = #{menuId}
            </if>
        </where>
        ${ew.customSqlSegment}
    </select>

    <select id="selectButtonsByRoleId" resultType="com.github.starhq.template.vo.ButtonVO">
        SELECT 
            sb.id,
            sb.code,
            sb.name,
            sb.description,
            srb.role_id IS NOT NULL AS checked
        FROM sys_button sb
        LEFT JOIN sys_role_button srb 
            ON srb.button_id = sb.id 
            AND srb.role_id = #{roleId}
    </select>

    <select id="selectAssignedButtonsByRoleIds" resultType="button">
        SELECT 
            sb.code 
        FROM sys_button sb 
        JOIN sys_role_button srb 
            ON srb.button_id = sb.id 
        <where>
            <if test="roleIds!= null and roleIds.size() > 0">
                AND srb.role_id IN
                <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>